<div class="sti-article-wrap" v-if="notFound">
    抱歉，该文章未找到。
</div>
<div class="sti-article-wrap" v-else>
    <h1 class="sti-article-title" v-if="hasTitleLink">
        <a :href="url">{{title}}</a>
    </h1>
    <h1 class="sti-article-title" v-html="title" v-else></h1>
    <div class="sti-article-meta">
        <span class="sti-article-meta-time" v-if="createTime">发表于{{createTime}}</span>
        <span class="sti-article-meta-category" v-if="category">分类于<a :href="'/category/'+category">{{category}}</a></span>
    </div>
    <div v-html="content"></div>
</div>