<div class="sti-container">
    <div class="sti-header" v-if="!isAdmin">

        <!-- 团队名字展示 -->
        <div class="sti-header-title">
            <div class="sti-header-name">
                STI team
            </div>
            <div class="sti-header-collapse" @click="collapse">
                <div class="sti-header-collapse-bar"></div>
                <div class="sti-header-collapse-bar"></div>
                <div class="sti-header-collapse-bar"></div>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sti-header-menu" :class="showMenu?'sti-header-menu-show':''">
            <li v-for="app in appMenu">
                <router-link v-text="app.name" :to="app.url" @click.native="collapse" :class="($route.path=='/'&&app.url=='/home')?'router-link-active':''"></router-link>
            </li>
        </ul>

        <!-- 团队信息展示 -->
        <div class="sti-header-info">
            <img src="/resources/images/teamPic.jpg" alt="team picture">
            <p class="sti-header-info-name">STI team</p>
            <p class="sti-header-info-intro">Smart Technical Intelligent</p>
            <ul class="sti-header-info-state">
                <li v-for="state in appState">
                    <a :href="state.url">
                        <p>{{state.count}}</p>
                        <p>{{state.name}}</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="sti-content" :class="isAdmin?'sti-content-admin':''">
        <router-view></router-view>
    </div>
</div>